$bg-color: #1C62CD;
$background: #F0F0F4;
$color-text: #C4C4C4;
$light-gray: #CDCDCD;
$gray: #656464;
@mixin f400{
  font-family: 'SFProDisplay-Regular', sans-serif;
  font-weight: 400;
}

@mixin f500{
  font-family: 'SFProDisplay-Medium', sans-serif;
  font-weight: 500;
}

@mixin f600{
  font-family: 'SFProDisplay-Semibold', sans-serif;
  font-weight: 600;
}

@mixin f700{
  font-family: 'SFProDisplay-Bold', sans-serif;
  font-weight: 700;
}

@mixin Barlow7{
  font-family: 'Barlow', sans-serif;
  font-weight: 700;
}